# Secrets
.env

# Python
__pycache__/
*.pyc

# Logs / runs / exports
logs/
runs/
**/*.tfevents*
exported-models/
saved_model/

# Modèles & datasets lourds
models/
checkpoints/
*.ckpt*
*.tfrecord
*.pb
